 # Group Access ID
RLS_USER_ID="00000000-0000-0000-0000-000000000000"

# Example for Seattle store
# RLS_USER_ID="be9f661c-0b97-45a4-b84d-2e25b9dd01c4"

# Example for Bellevue store
# RLS_USER_ID="34f87a9e-e10e-4a6c-badc-e42937f6d904"

# Example for Tacoma store
# RLS_USER_ID="1290530d-d1de-49b1-96e9-73325a524d9d"

# Example for Spokane store
# RLS_USER_ID="2922d955-5c15-41c3-acf2-4194c325c999"

# Example for Everett store
# RLS_USER_ID="f1f79209-5264-4733-b662-caa74cf01462"

# Example for Redmond store
# RLS_USER_ID="434c32ad-58fd-4055-abc7-b1530d018534"

# Example for Kirkland store
# RLS_USER_ID="643aaf46-a1f4-4bbc-a3a7-9c5646069e50"

# Example for Online store
# RLS_USER_ID="fbd26b77-9947-475d-89d7-5ee539fc885a" # Example for Online store


PROJECT_ENDPOINT="<your_project_endpoint>"
MODEL_DEPLOYMENT_NAME="<your_model_deployment_name>"
DEV_TUNNEL_URL="<your_dev_tunnel_url>"