opentelemetry-api==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-exporter-otlp-proto-grpc==1.31.1
opentelemetry-instrumentation-fastapi==0.52b1
opentelemetry-instrumentation-starlette==0.52b1
opentelemetry-instrumentation-asyncpg==0.52b1
